{% extends 'base.html' %}
{% block content %}

<div class="body_style">

<table id="customers">
      <col width="80">
      <col width="80">
      <col width="80">
      <col width="80">
      <col width="80">
      <col width="80">

    <h2>Future Appoinments</h2>

      <tr>
          <th>Appointment Type</th>
          <th>Starts</th>
          <th>Ends</th>
          <th>Patient</th>
          <th>Fee</th>
          <th>Start Appointment</th>
      </tr>
    
    
      <tr>
          <td></td>
          <td></td>
          <td></td>
          <td>
              <form method="post" action="    ">
                  <button type="submit">  @gmail.com</button>
              </form>
          </td>
          <td></td>
          <td>
              <form method="post">
                  <button type="submit" name="start" value="    ">Start</button>
              </form>
          </td>
    </tr>
</table>



{% endblock %}
