{% extends 'base.html' %}
{% block content %}

<div class="body_style"> 

    <table id="customers">
      <col width="80">
      <col width="80">
      <col width="80">
      <col width="80">
      <col width="80">
      <col width="80">

    <h2>Future Appoinments</h2>

      <tr>
          <th>Appointment Type</th>
          <th>Starts</th>
          <th>Ends</th>
          <th>Health Provider</th>
          <th>Fee</th>
      </tr>
    
    
      <tr>
          <td><type=></td>
          <td></td>
          <td></td>
          <td>
              <form method="post" action="    ">
                  <button type="submit">  @gmail.com</button>
              </form>
          </td>
          <td></td>
    </tr>
</table>



{% endblock %}
