{% extends 'base.html' %}
{% block content %}

<div class="body_style"> 

    <table id="customers">
      <col width="80">
      <col width="80">
      <col width="80">
      <col width="80">
      <col width="80">
      <col width="80">

    <h2>Future Appoinments</h2>

      <tr>
          <th>Appointment Type</th>
          <th>Starts</th>
          <th>Ends</th>
          <th>Health Provider</th>
      </tr>
    
    
      <tr>
          <td>{{ appointment.type }}</td>
          <td>{{ appointment.start }}</td>
          <td>{{ apppintment.end }}</td>
          <td>{{ appointment.provider_email }}</td>
    </tr>
</table>



{% endblock %}
